* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.hidden {
  display: none;
}

.bgImage {
  position: fixed;
  top: 0;
  z-index: -10000;
  width: 100%;
  height: 100%;
}

#greeting,
#clock {
  color: white;
}

@media only screen and (min-width: 601px) {

  #clock {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 5vh;
    font-size: 8vw;
    z-index: -9999;
  }
  
  #greeting {
    width: 100vw;
    height: 5vh;
    text-align: center;
    position: fixed;
    top: 50vh;
    font-size: 2vw;
  }
  
  #quote {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 95vh;
    width: 100vw;
    color: white;
    font-size: 20px;
  }
  
  #login-form:not(.hidden) {
    width: 25vw;
    height: 20vh;
    text-align: center;
    position: fixed;
    top: 15vh;
    left: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #login-input {
    transition-duration: 100ms;
    width: 100%;
    height: 70%;
    font-size: 2vw;
    text-align: center;
    background: none;
    outline: none;
    border: none;
    color: white;
    text-shadow: #000 0.01px 0.01px 10px;
  }
  
  #login-input:focus {
    font-size: 2.5vw;
    outline: none;
  }
  
  #login-submit {
    transition: 100ms;
    width: 50%;
    height: 25%;
    position: relative;
    left: 25%;
    top: 10px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 1vw;
    background: rgb(31, 31, 31);
    cursor: pointer;
  }
  
  #login-submit:hover {
    transition: 100ms;
    background: rgb(51, 51, 51);
  }
  
  #todo-form {
    width: 100%;
    height: 40%;
    text-align: center;
    position: fixed;
    top: 60vh;
  }

  
  #todo-form input {
    transition-duration: 50ms;
    width: 25%;
    height: auto;
    font-size: 2vw;
    text-align: center;
    background: none;
    border: none;
    color: white;
    text-shadow: #000 1px 1px 5px;
  }
  
  #todo-form input:focus {
    font-size: 2.25vw;
    outline: none;
  }
  
  #todo-list {
    color: white;
    position: relative;
    top: 15%;
    width: 100%;
    height: 85%;
    z-index: 0;
    overflow: scroll;
    background: rgb(31, 31, 31);
  }
  
  #todo-list li {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #todo-list li span {
    font-size: x-large;
    font-weight: 500;
  }
  
  ul {
    list-style-type: square;
  }
  
  #todo-list li button {
    transition-duration: 100ms;
    width: auto;
    background: none;
    border: none;
    position: relative;
    font-size: 1em;
    cursor:pointer;
  }
  
  #todo-list li button:hover {
    font-size: 1.5em;
  }

  .todo-container {
    background: rgba(24, 24, 24, 1);
    position: fixed;
    top: 59vh;
    width: 20vw;
    height: 38vh;
    z-index: 0;
  }
  
  #todo-title {
    color: white;
    background: none;
    text-align: center;
    font-size: 1.5vw;
    position: relative;
    top: 2vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #weather {
    color: white;
  }
  
  ::placeholder {
    color: white;
    text-decoration-line: underline;
  }
  
  ::-webkit-scrollbar {
    width: 1vh;
    height: 1vw;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(158, 158, 158);
  }
  
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
  }
}
